a {
    text-decoration: none;
}

.header {
    background: #222222;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.left {
    display: flex;
    justify-content: left;
    gap: 41px;
}

.right {
    display: flex;
    justify-content: right;
    gap: 33px;
    padding: 10 50 10 0;
}

.title {
    background: #F1E4E6;
    display: flex;
    justify-content: center;
}

.img {
    display: flex;
    justify-content: center;
}

.brand {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    padding: 290px 200px 381px 0;
}

.hz {
    width: 12px;
    height: 92px;
}

.center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 65px 100px 65px 100px;
    gap: 30px;
}

.red {
    color: rgba(241, 109, 127, 1);
}

.fantasy_no {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.content {
    display: grid;
    grid-template-columns: 30% auto 30%;
    padding: 30px;
}

.content1 {
    text-align: center;
}

.grey {
    color: rgba(159, 159, 159, 1);
}

.blok {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.item2 {
    background-color: rgba(247, 228, 226, 1);
    width: 360px;
    height: 420px;
}

.item1 {
    width: 360px;
    height: 581px;
    background-color: rgba(248, 248, 248, 1);
}

.text {
    padding: 10px;
}

.last {
    display: grid;
    grid-template-columns: auto 211px auto;
    padding: 48px;
}

.last1 {
    display: flex;
    justify-content: center;
    border: 1px solid #FF6A6A;
    width: 211px;
    height: 47px;
    background-color: #FFFFFF;
}

.last_text {
    color: #FF6A6A;
    text-align: center;
}

.footer1 {
    background: rgba(34, 34, 36, 1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 103px;
    color: #FFFFFF;

}

.item_footer1 {
    padding: 20px;
}

.footer2 {
    background-image: url(img/subscribe.svg);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer2_content {
    padding: 126px;
}

.button {
    background: #E1E1E1;
    width: 256px;
    height: 49px;
    border-radius: 20px 0 0 20px;
}

.button2 {
    background: rgba(241, 109, 127, 1);
    width: 100px;
    height: 49px;
    border-radius: 0 20px 20px 0;
}

.logo {
    background-color: #222224;
    ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    width: 32px;
    height: 32px;
    padding: 5px;
    background: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .img {
        width: 360px;
    }

    .brand {
        padding: 290px 20px 381px 40px;
    }

    .center {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 32px 0px;
    }

    .fantasy_no {
        display: flex;
        justify-content: center;
        padding: 30px;
    }

    .content {
        display: grid;
        grid-template-columns: 20% auto 20%;
        padding: 30px;
    }

    .blok {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 30px;
    }

    .footer1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .footer2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .header {
        width: 737px;
        display: flex;
        justify-content: space-between;
    }

    .photo {
        display: none;
    }

    .img {
        display: none;
    }

    .title {
        width: 767px;
    }

    .center {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    }

    .blok {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        justify-items: center;
    }
}

.footer1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .footer2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
    }

    .logo {
        display: flex;
        flex-direction: column-reverse;
        padding: 30px;
    }

    .button {
    width: 200px;
    height: 45px;
    border-radius: 20px 0 0 20px;
}

.button2 {
    width: 80px;
    height: 45px;
    border-radius: 0 20px 20px 0;
}