a {
    text-decoration: none;
}

.header {
    margin: 20px;
    padding: 20px;
}

.content {
    margin: 20px;
    padding: 20px;
}
.logo {
    padding: 20px;
    margin: 20px;
}

.img {
    padding: 20px;
    margin: 20px;
}